@import "../vars";

.documents {
    &__header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        &__count {
            margin-bottom: 5px;
            margin-right: 10px;
        }

        &__size {
            margin-bottom: 5px;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-wrap: wrap;

        &__detail {
            border: 1px solid black;
            width: 290px;
            margin: 0 5px 5px 0;
            padding: 10px;
        }
    }
}

@media(max-width: $phone-break-point) {
    .documents__list__detail {
        width: 100%;
    }
}
