@import "../vars";

.document {
    padding: 5px;

    &__title {
        margin-top: 0;
        margin-bottom: 15px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__size {
        display: inline-block;
    }

    &__delete {
        cursor: pointer;
        border: $button-border;
        background-color: $button-background-color;
        color: $button-font-color;
        font-weight: $button-font-weight;
        margin: 0;
        padding: 7px;

        &:hover {
            opacity: $button-hover-opacity;
        }
    }
}
