@import "../vars";

.upload {
    &__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        cursor: pointer;
        border: $button-border;
        background-color: $button-background-color;
        color: $button-font-color;
        font-weight: $button-font-weight;
        padding: 10px;

        &:focus {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        &:hover {
            opacity: $button-hover-opacity;
        }

        * {
            pointer-events: none;
        }
    }
}

@media(max-width: $phone-break-point) {
    .upload {
        order: 1;
        width: 100%;

        &__label {
            display: block;
            right: 0;
            left: 0;
            margin-bottom: 5px;
        }
    }
}
