.app {
    text-align: center;
    max-width: 960px;
    margin: auto;
    padding: 10px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
